<ngx-snake #game
(foodEaten)="statusPoints()"
></ngx-snake>

<button (click)="game.actionStart()">Start</button>
<button (click)="game.actionStop()">Stop</button>
<button (click)="game.actionReset(); resetPoints()">Reset</button>
<button (click)="game.actionUp()">Up</button>
<button (click)="game.actionLeft()">Left</button>
<button (click)="game.actionRight()">Right</button>
<button (click)="game.actionDown()">Down</button>

<button (click)="welcome()">Exit</button>

<p>
    Points: {{points}}
</p>
