     <ngx-snake #game
    (foodEaten)="statusPoints()"
    (gameOver)="gameOver(); resetTime()"
    ></ngx-snake>

    <button (click)="game.actionStart(); startTime()">Start</button>
    <button (click)="game.actionStop(); stopTime()">Stop</button>
    <button (click)="game.actionReset(); resetPoints(); resetTime()">Reset</button>
    <button (click)="game.actionUp()">Up</button>
    <button (click)="game.actionLeft()">Left</button>
    <button (click)="game.actionRight()">Right</button>
    <button (click)="game.actionDown()">Down</button>
    <button (click)="welcome()">Exit</button>
    
    <p>
        Points: {{points}}
        Time: {{seconds}}.{{milliseconds}}
    </p>


