<div class="container">
    <h1>Welcome to NG-SNAKE</h1>
    <div class="loginPanel">
        <form [formGroup]="myForm" (submit)="getValues(myForm.value); myForm.reset({})">
            <!-- {{loginForm.value | json}} -->
            <div class=loginLabel>
                <label for="loginUser">Name:</label>
                <input type="text" id="loginUser" placeholder="Enter login" formControlName="userName">
            </div>
            <div class="error" *ngIf="">
                <p>Name lmust be at least 5 characters.</p>
            </div>
            <div class=loginLabel>
                <label for="token">Token:</label>
                <input type="text" name="token" id="token" placeholder="Enter student ID" formControlName="token">
            </div>
            <div class="error" *ngIf="">
                <p>Token must be at least 5 characters.</p>
            </div>
            <div class="getColor">
                <label for="getColor" >Select color</label>
                <select id="getColor" name="color" formControlName="color">
                    <option value="normal" >Normal</option>
                    <option value="contrast">High contrast</option>
                </select>
            </div>
            <button class="btn" type="submit" [disabled]="!myForm.valid">Welcome</button>
        </form>
    </div>
</div>