<div class="container">
    <h1>Welcome to NG-SNAKE</h1>
    <div class="loginPanel">
        <form #loginForm="ngForm" (submit)="getValues(loginForm.value); loginForm.reset()">
            <!-- {{loginForm.value | json}} -->
            <div class=loginLabel>
                <label for="loginUser">Name:</label>
                <input required maxlength="20" minlength="3" ngModel #inputLogin="ngModel" type="text" name="userName"
                    id="loginUser" placeholder="Enter login">
            </div>
            <div class="error" *ngIf="inputLogin.invalid && inputLogin.dirty">
                <p>Name length must be 2 to 20 characters.</p>
            </div>
            <div class=loginLabel>
                <label for="userEmail">E-mail:</label>
                <input type="email" name="userEmail" id="userEmail" placeholder="Enter e-mail" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel #inputEmail="ngModel">
            </div>
            <div class="error" *ngIf="inputEmail.invalid && inputEmail.dirty">
                <p>E-mial address is incorrect.</p>
            </div>
            <button class="btn" type="submit" [disabled]="!loginForm.valid" (click)="welcome()">Welcome</button>
        </form>
    </div>
</div>