.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: Abril Fatface, serif;
    text-align: center;
    font-size: 60px;
    color: black;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

.loginPanel{
    width: 300px;
    padding: 50px;
    background-color: yellow;
    border-radius: 10px;
    border: 2px solid darkgreen;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  

input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    font-weight: bold;
    padding: 12px 12px 12px 0;
    display: inline-block;
 }

 .error{
    font-size: 15px;
    text-align: center;
    color: #D8000C;
    background-color: #FFD2D2;
	margin: 10px auto;
  }

.btn{
    background: green;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
    position: relative;
    top: 20px;
    right: -100px;
}



